body {
    background-color: black;
}

.background {
    width: 1334px;
    height: 1000px;
    margin: 0px auto;
    background: url(images/shell_background.jpg);
    background-size: contain;
    color: white;
    background-repeat: no-repeat;
    margin: auto auto;
}

.case {
    position: relative;

    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.case h1 {
    font-size: 150px;
    color: white;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.corner-prompt {
    position: absolute;
    z-index: 3;
    left: 75%;
    top: 95%;
}

.uses-aside{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 80%;
    left: 20%
}

/* info panels */

.panel-background {
    background-color: black;
    width: 1334px;
    height: 1000px;
    opacity: .8;
    z-index: 1;
    position: absolute;
}

.info {
    width: 1334px;
    height: 1000px;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
}


.info .row {
    margin-top: 15px;
}

.info img {
    border-radius: 20px;
    border: 3px solid white;
    margin-top: 10px;
    width: 85%;
}

.info h1{
    text-decoration: underline;
}

.info p {
    font-size: 24px;
}

.caption {
    display: block;
    margin-bottom: 20px;
    font-size: 90%;
}

/* specific styling */

.intro img {
    margin-top: -20px;
}

.intro .click-prompt {
    margin-top: -30px;
}

.color img {
    width: 55%;
}

.predation h1 {
    font-size: 60px;
    margin-bottom: 30px;
}
.predation p {
    font-size: 34px;
    margin-bottom: 30px;
}

.math img {
    width: 55%
}

.math p {
    font-size: 27px 
}

.uses p {
    font-size: 23px;
}

.uses img {
    width: 100%;
}

.rembrandt {
    position: relative;
    display: flex;
    align-items: center;
    text-align: right
}


/* Shell Cases */

#color {
    width: 555px;
    height: 407px;
    top: 115px;
    left: 65px;
}

#predation {
    width: 155px;
    height: 320px;
    left: 745px;
    top: -350px;
}

#uses {
    width: 22%;
    height: 27%;
    left: 74%;
    top: -69%;
}

#math {
    width: 19%;
    height: 21%;
    left: 52%;
    top: -57%;
}

#shell-case-5 {
    width: 22%;
    height: 26%;
    left: 74%;
    top: -86%;
}

#shell-case-6 {
    width: 28%;
    height: 28%;
    left: 2%;
    top: -82%;
}

#size {
    width: 35%;
    height: 23%;
    left: 36%;
    top: -106%;
}

#shell-case-8 {
    width: 22%;
    height: 28%;
    left: 75%;
    top: -130%;
}

/* Shell Case Text */

#predation h1 {
    transform: rotate(270deg);
    font-size: 70px;
    -webkit-text-stroke-width: 1px;
}

#math h1 {
    transform: rotate(30deg);
    font-size: 100px;
}

#uses h1 {
    transform: rotate(330deg);
    font-size: 120px;
}

